/*Propiedades Contenedor de la tabla*/

.Gestion-Contenedor-Tabla{
    width: 80vw;
    max-height: 60vh;
    min-height: 35px;
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: #fff;
    box-sizing: border-box;
    margin: 4vh 0;
    border-radius: 3px;
}

/* Propiedades de Tabla */

.Gestion-Tabla{
    table-layout: fixed;
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
}

.Gestion-Tabla tr{
    height: 35px;
    border-bottom: solid 2px #e1e1e1;
}

.Gestion-Tabla td,th{
    width: 200px;
    padding-left: 10px;
    text-align: left;
}

.Gestion-Tabla input{
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-bottom: solid 2px var(--azul);
    background-color: #fff;
    width: 100%;
}
.Gestion-Tabla input:focus{
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-bottom: solid 2px var(--naranja);
    outline: none;
    text-decoration: none;
}

.Gestion-Tabla select{
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-bottom: solid 2px var(--azul);
    background: none;
    width: 100%;
}

.Gestion-Tabla select:focus{
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-bottom: solid 2px var(--naranja);
    background: none;
    outline: none;
    text-decoration: none;
}

.Gestion-Tabla button{
    background: none;
    border: none;
    margin-left: 10px;
}

.Columna-Borrar{
    width: 30px;
}


.Columna-Borrar button i{
    font-size: 15px;
    color:var(--azul);
}

.Columna-Borrar button:hover i{
    font-size: 15px;
    color: #e0501c;
}

.Gestion-Tabla button:hover{
    color:var(--azul);
    cursor: pointer;
}

/* Propiedades de gestion de redadas */

.Redada-Contenedor{
    margin: 4vh 0;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Redada-Botones{
    margin: 0 auto;
    display: flex;
    width: 40vw;
    justify-content: space-around;
}

.Redada-Botones button {
    background: none;
    border:  solid 2px var(--azul);
    margin-left: 10px;
    padding: 10px;
    color:var(--azul);
    border-radius: 10px;
}

.Redada-Botones :hover{
    color:#ffffff;
    background-color:var(--azul) ;
    cursor: pointer;
}

.Datos{
    display: grid;
    grid-template-columns: 30vw 30vw;
    grid-template-rows: 10vh 10vh 10vh ;
    column-gap: 20vw;
    margin-bottom: 4vh;
}

.Datos div{
    width:100%;
    margin: 0 auto;
}

.Titulo-Gestion{
    font-weight: 600;
    margin-bottom: 5px;
}

.Dato-Gestion{
    border-bottom: solid 2px var(--azul);
}

.Datos input{
    font-size: 15px;
    font-weight: 300;
    border: none;
    border-bottom: solid 2px var(--azul);
    background: none;
    width: 100%;
}
.Datos input:focus{
    border: none;
    border-bottom: solid 2px var(--naranja);
    background: none;
    outline: none;
    text-decoration: none;
}


/* Boton Cancelar*/

.Cancelar-Boton{
    position: absolute;

}