<nav class="Menu">
    <div>
        <a href="/">INICIO</a>
    </div>

    <div>
        <a href="/Redadas">REDADAS</a>
    </div>

    <div>
        <a href="/Detenidos">DETENIDOS</a>
    </div>

    <div>
        <a href="/Mapa">MAPA</a>
    </div>
    <div>
        <a href="/AcercaDe">ACERCA DE</a>
    </div>

</nav>